.reviews-section {
    padding-top: 164px;
    padding-bottom: 164px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
section {
    display: block;
    unicode-bidi: isolate;
}
    $page-bagraund: #11131f;
    $text-color: #f6f5ef;
    $actzent-color: #93abae;
html {
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.reviews-sublist {
    display: flex;
    gap: 446px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    background-color: var(--page-bagraund);
    font-family: DM Sans;
    color: var(--text-color);
    font-size: 18px;
    line-height: 110%;
    font-weight: 400;
}
.reviews-list {
    display: flex;
    border-radius: 24px;
    gap: 32px;
    margin-top: 64px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
:root {
    --page-bagraund: #11131f;
    --text-color: #f6f5ef;
    --actzent-color: #93abae;
}