.section__form {
  background-color: #11131f;
  color: rgba(246, 245, 239, 1);
  color: rgba(246, 245, 239, 1);
  padding-bottom: 164px;
  padding-top: 164px;
}
.did {
  display: flex;
  gap: 188px;
  width: 916;
}
.picture__text {
  outline: chartreuse solid 2px;
  width: 282px;
}
.big__title {
  font-family: DM Sans;
  font-size: 55px;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: 0.045em;
  color: rgba(246, 245, 239, 1);
}
.form {
  outline: rgb(0, 98, 255) solid 1px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 9px;
}
.form__label {
  border-bottom: 1px solid rgba(246, 245, 239, 1);
}
.form__input {
  width: 443px;
  background-color: #11131f;
  color: rgba(246, 245, 239, 1);
  border: none;
}
.form__input:focus {
  outline: none;
}
input::placeholder {
  color: rgba(246, 245, 239, 1);
}
.form__textarea {
  resize: none;
  border: none;
  border-bottom: 1px solid rgba(246, 245, 239, 1);
  background-color: #11131f;
  color: rgba(246, 245, 239, 1);
}
.form__textarea:focus {
  outline: none;
}
textarea::placeholder {
  color: rgba(246, 245, 239, 1);
}
.boat__uno {
  background-color: #11131f;
}
.form__btn {
  background-color: #11131f;
  color: rgba(246, 245, 239, 1);
  width: 132px;
  height: 48px;
  padding: 14px 28px 14px 28px;
  gap: 16px;
  border-radius: 60px;
  border: 1px solid rgba(246, 245, 239, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__svg {
  fill: rgba(246, 245, 239, 1);
  width: 18px;
  height: 9px;
}
.ghost {
  color: rgba(145, 175, 186, 1);
  width: 414px;
  height: 414px;
  opacity: 60%;
box-shadow: 10px 10px 50px 120px rgba(145, 175, 186, 1);
}
