// colors
$shade-color: rgba(17, 19, 31, 0.2);
$dark-blue-color: #11131F;
$light-green-color: #93ABAE;
$linear-green-color: #BEC7C2;
$white-color: #F6F5EF;
$blue2-color: #1F212D;

// fonts
$cursive-font-family: "Cursive";
$DM-sans-font-family: "DM Sans", sans-serif;