<section class="section-cards">
    <button>&#8592;</button>
    <ul>
        <li><img alt="#" src="#">
            <p><span>Arrow</span><span>LUXURY YAHTS</span></p>
            <div>
                <ul>
                    <li>LENGTH</li>
                    <li>BUILDER</li>
                    <li>BUILT</li>
                    <li>GUESTS</li>
                    <li>PRICE</li>
                </ul>
                <ul>
                    <li>48m(155ft) </li>
                    <li>Admiral</li>
                    <li>2021</li>
                    <li>11 in 5 cabins</li>
                    <li>€33,500,000</li>
                </ul>
            </div>
        </li>
        <li><img alt="#" src="#"></li>
        <li><img alt="#" src="#"></li>
    </ul>
    <button>&#8594;</button>
</section>