<section class="section-cards">
    <button class="btn-left">&#8592;</button>
    <ul class="yaht-list">
        <li class="yaht-item1"><img class="yaht-photo" alt="Arrow" src="./images/cards/Arrow@1x.jpg">
            <p class="yaht-title"><span class="yaht-name">Arrow</span><span class="yaht-type">LUXURY YAHTS</span></p>
            <div class="yaht-wrapper">
                <ul class="yaht-statistics">
                    <li class="yaht-statistics-item">LENGTH</li>
                    <li class="yaht-statistics-item">BUILDER</li>
                    <li class="yaht-statistics-item">BUILT</li>
                    <li class="yaht-statistics-item">GUESTS</li>
                    <li class="yaht-statistics-item">PRICE</li>
                </ul>
                <ul class="yaht-info">
                    <li class="yaht-info-item">48m(155ft) </li>
                    <li class="yaht-info-item">Admiral</li>
                    <li class="yaht-info-item">2021</li>
                    <li class="yaht-info-item">11 in 5 cabins</li>
                    <li class="yaht-info-item">€33,500,000</li>
                </ul>
            </div>
        </li>
        <li class="yaht-item2"><img class="yaht-photo" alt="Benetti" src="./images/cards/Benetti@1x.jpg">
            <p><span class="yaht-name2">BENETTI OASIS 40M...</span><span class="yaht-type">LUXURY YAHTS</span></p>
            <div class="yaht-wrapper">
                <ul class="yaht-statistics">
                    <li>LENGTH</li>
                    <li>SHIPYARD</li>
                    <li>BUILT</li>
                    <li>GUESTS</li>
                    <li>PRICE</li>
                </ul>
                <ul class="yaht-info">
                    <li>41m (133ft)</li>
                    <li>Benetti</li>
                    <li>2025</li>
                    <li>10 in 5 cabins</li>
                    <li>€23,210,000</li>
                </ul>
            </div>
        </li>
        <li class="yaht-item3"><img class="yaht-photo" alt="Belle" src="./images/cards/Belle@1x.jpg">
            <p><span class="yaht-name3">BELLE ANNA</span><span class="yaht-type">LUXURY YAHTS</span></p>
            <div class="yaht-wrapper">
                <ul class="yaht-statistics">
                    <li>LENGTH</li>
                    <li>SHIPYARD</li>
                    <li>BUILT</li>
                    <li>GUESTS</li>
                    <li>PRICE</li>
                </ul>
                <ul class="yaht-info">
                    <li>50m(155ft) </li>
                    <li>ISA</li>
                    <li>2012</li>
                    <li>12 in 6 cabins</li>
                    <li>€21,000,000</li>
                </ul>
            </div>
        </li>
        <!-- <li><img alt="#" src="#"></li>
        <li><img alt="#" src="#"></li> -->
    </ul>
    <button class="btn-right">&#8594;</button>
</section>