<section class="reviews-section">
    <div class="container">
      <ul class="reviews-sublist">
        <li class="reviews-item">
          <p class="reviews-info">
            <span class="reviews-name">Yaht Adventures</span> take pride in
            providing the best possible service and experience to our
            customers
          </p>
        </li>
        <li class="reviews-item">
          <p class="reviews-description">
            Our customers have enjoyed unforgettable moments on our yachts.
            Don't just take our word for it - read on to find out what they
            have to say about their journey with us.
          </p>
        </li>
      </ul>
      <ul class="reviews-list">
        <li class="revirws-item">
          <article class="reviews-article">
            <img
              class="reviews-photo"
              src="../images/customers_img/image (2).jpg"
              alt="rewius-client"
            />
            <h2 class="reviews-title">John Wax</h2>
            <p class="reviews-text">
              I rented the Lagoon 620 with my family for a week-long
              vacation and it was the best decision ever. The yacht was
              spacious, comfortable, and luxurious, and the crew took care
              of everything.
            </p>
          </article>
        </li>
        <li class="reviews-item">
          <article class="reviews-article">
            <img
              class="reviews-photo"
              src="../images/customers_img/image.jpg"
              alt="rewius-client2"
            />
            <h2 class="reviews-title">Victoria Romashenko</h2>
            <p class="reviews-text">
              The Sunseeker Manhattan 66 was the perfect choice for our
              romantic getaway. The yacht was beautifully designed, with all
              the amenities we needed, and the crew was attentive and
              friendly.
            </p>
          </article>
        </li>
        <li class="reviews-item">
          <article class="reviews-article">
            <img
              class="reviews-photo"
              src="../images/customers_img/image (1).jpg"
              alt="rewius-client3"
            />
            <h2 class="reviews-title">Ihor Trachuk</h2>
            <p class="reviews-text">
              The Azimut 80 was the most luxurious yacht I've ever been on.
              The cabins were spacious and elegant, and the outdoor areas
              were perfect for relaxing and entertaining. Worth every penny!
            </p>
          </article>
        </li>
      </ul>
    </div>
  </section>