<section class="section__form">
    <div class="container">
        <h2>Rent a yacht now</h2>
        <picture class="hata__x">
            <source srcset="" />
            <img src="" alt="Кіт" />
        </picture>
        <form>
            <label>
                <input>
            </label>
            <label>
                <input>
            </label>
            <label>
                <input>
            </label>
            <label>
                <input>
            </label>
        </form>
        <button>Send</button>
    </div>
</section>