<section class="section__form">
    <div class="container did">
        <div class="picture__text">
            <h2 class="big__title">Rent a yacht now</h2>
            <picture class="boat__uno">
                <source srcset="./images/form/img__yaht@1x.png 1x, ./images/form/img__yaht@2x.png 2x" />
                <img src="./images/form/img__yaht@1x.png" alt="Кіт" />
            </picture>
        </div>
        <form class="form">
            <label class="form__label">
                <input class="form__input" name="text" placeholder="Full Name">
            </label>
            <label class="form__label">
                <input class="form__input" name="email" placeholder="Email">
            </label>
            <label class="form__label">
                <input class="form__input" name="tel" placeholder="Phone number">
            </label>
            <textarea class="form__textarea" name="comment" placeholder="Comment" id="#" cols="#" rows="5"></textarea>
            <button class="form__btn"><p>Send</p>
                <svg class="form__svg">
                    <use class="form__use" href="../symbol-defs.svg#icon-Arrow">
                    </use>
                </svg>
            </button>
        </form>
    </div>
</section>