<section class="section-gallery">
  <div class="container">
    <div class="white-blur"></div>
  <ul class="gallery-pics">
    <li class="diving-card">
      <button class="diving-txt-box"><a class="gallery-txt">Diving</a></button>
    </li>
    <li class="fishing-card">
      <button class="fishing-txt-box"><a class="gallery-txt">Fishing</a></button>
    </li>
    <li class="sunbathing-card">
      <button class="sunbathing-txt-box"><a class="gallery-txt">Sunbathing</a></button>
    </li>
  </ul>
  </div>
</section>
