<header class="header">
  <div class="container">
  <div class="header-box">
  <img src="./images/logo.svg" alt="logo" class="header-logo"/>

  <ul class="header-pages-list">
    <li class="header-page"><a class="header-page-txt">ABOUT</a></li>
    <li class="header-page"><a class="header-page-txt">YACHTS</a></li>
    <li class="header-page"><a class="header-page-txt">REVIEWS</a></li>
  </ul>
  </div>
  <div class="header-line"></div>
  </div>
</header>
<section class="hero">
  <div class="container">
    
  </div>
</section>
