<header class="header">
  <div class="container">
    <div class="header-box">
      <img src="./images/logo.svg" alt="logo" class="header-logo" />

      <ul class="header-pages-list">
        <li class="header-page"><a class="header-page-txt">ABOUT</a></li>
        <li class="header-page"><a class="header-page-txt">YACHTS</a></li>
        <li class="header-page"><a class="header-page-txt">REVIEWS</a></li>
      </ul>
    </div>
    <div class="header-line"></div>
  </div>
</header>
<section class="hero">
  <div class="container">
    <div class="hero-left">
      <div class="hero-folder-background"></div>
      <div class="man-left"></div>
      <div class="woman-middle"></div>
      <div class="man-right"></div>
      <div class="txt-under-icon">OUR CLIENTS</div>
      <div class="overlap-man-img"></div>
      <div class="yatch-img"></div>
      <div class="left-txt-box">
        <div class="big-left-txt">$12M</div>
        <div class="right-txt">Book now and make your dream yacht rental a reality</div>
      </div>
    </div>
    <div class="hero-right">
      <div class="big-right-txt">Explore the High Seas with <span class="blue-right-txt">Our Luxury Yacht</span> Rentals</div>
      <div class="small-txt-right">Experience the freedom and luxury of yachting on the open seas. Choose from our top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.</div>
      <div class="buttons">
        <button class="button-left">Get Started</button>
        <button class="button-right">Explore</button>
      </div>
    </div>
  </div>
</section>

